body {
    background-color: rgb(153, 153, 153);
    font-family: 'KoHo', sans-serif;
}

#content {
    background-color: rgb(58, 30, 56);
    width: 1600px;
    height: 1000px;
    margin: auto;
}

.header {
    background: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
    height: 80px;
}

.title {
    width: 30%;
    margin: auto;
    color: rgb(217, 208, 250);
}

#grid {
    margin: auto;
    width: 30%;
}

#colorPicker {
    margin: auto;
    width: 30%;
}