body {
    background-color: rgb(153, 153, 153);
    font-family: 'KoHo', sans-serif;
}

#content {
    background-color: rgb(58, 30, 56);
    width: 1600px;
    height: 1000px;
    margin: auto;
}

.header {
    background: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
    height: 80px;
}

.title {
    width: 30%;
    margin: auto;
    color: rgb(217, 208, 250);
}

#gridArea {
    margin: auto;
    width: 30%;
}

#menuLeft {
    float: left;
    background-color: black;
    height: 100%;
    width: 300px;
    color: rgb(217, 208, 250);
}

#menuLeft div {
    width: 100%;
    text-align: center;
    height: 30px;
    -webkit-transition: background-color 0.3s;
}

#menuLeft div:hover {
    background-color: rgb(59, 59, 59);
    -webkit-transition: background-color 0.3s;
}
