body {
    font-family: 'VT323', monospace;
    height: 100%;
    margin: 0;
}

.header {
    background: rgb(29, 29, 29);
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 45px;
}

.header a {
    background: rgb(29, 29, 29);
    width: 100%;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
}

.header > div {
    margin-right: 50px;
}

.header div:last-child {
    margin-left: auto;
    margin-right: 50px;
    width: 100px;
}

.a-color-picker {
    margin-top: 53px;
}

#logo {
    margin-left: 10px;
    margin-top: 5px;
}

#pixels {
    color: rgb(163, 147, 255);
}

#gridArea {
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: row;
}

#colorPicker {
    float: right;
}

#menuLeft {
    visibility: hidden;
    position: absolute;
    float: left;
    background: rgb(255, 255, 255, 0.8);
    width: 300px;
    border-style: solid;
    border-width: 1px;
    color: rgb(14, 14, 14);
}

#menuLeft div {
    width: 100%;
    text-align: justify;
    height: 30px;
    -webkit-transition: background-color 0.3s;
}

#menuLeft div:hover {
    border-radius: 8px;
    background-color: rgb(235, 235, 235, 0.8);
    -webkit-transition: background-color 0.3s;
}

#content canvas {
    background-color: aliceblue;
    border: 1px solid rgb(71, 71, 71);
}

#searchBar {
    background-color: rgb(78, 78, 78); 
    color:white;
}